@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap ');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #8a7b60;
    line-height: 1.7em;
    background-color: #8a7b60;
    width: 100%;
    max-width: 1200px;
    min-width: 980px;
}
.logo{
    width: 22vw;
    height: 200vh;
    background-color: #ffffff;
    display: flex;
    position: fixed;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    
}
.home{
    color:black;
    text-decoration-line: none;
}
.home:hover{
    color:#8a7b60;
}

.ta{
    line-height: 1.4em;
    font-size: 90%;
}

.bm{
    color: black;
    text-decoration-line: none;
    
}

.bm:hover{
    color:#8a7b60;
}

.bt{
    color: black;
    text-decoration-line: none;
    
}

.bt:hover{
    color:#8a7b60;
}

.bs{
    color: black;
    text-decoration-line: none;
    
}

.bs:hover{
    color:#8a7b60;
}

.bc{
    color: black;
    text-decoration-line: none;
    
}

.bc:hover{
    color:#8a7b60;
}


.servico{
    color: #8a7b60;
    text-decoration-line: none;
}

.fts{
    color: black;
    text-decoration-line: none;
}

.fts:hover{
    color:#8a7b60;
}

.contato{
    color: black;
    text-decoration-line: none;
}

.contato:hover{
    color:#8a7b60;
}


.nome{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    text-align: center;
    position:absolute;
    display: flex;
   top:6%;
   left:19%;
   z-index:4;
}

.otherPg{
    font-family: 'Montserrat';
    font-size: 1.5rem;
    line-height: 1.7em;
    color:black;
    font-weight: bold;
    text-align: center;
    position: absolute;
    display: flex;
    line-height: 3em;
    top:13%;
    left: 14%;
     
}

.br{
    font-size: 110%;
    background-color: #ffffff;
    width: 78%;
    max-width: 78%;
    display: flex;
    height: 50vh; 
    justify-content: flex-end;
    flex-direction: column; 
    position: absolute; 
    top: 5%;
    left: 22.2%;  
}

.titulo1{
    position: absolute;
    top: 0%;
    left: 35%;
    font-family: 'Montserrat';
    text-decoration-line:underline;

}

.texto1{
    position: absolute;
    top: 20%;
    left: 5%;
    justify-content: center;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Lato';
}

.ser3{
    position: absolute;
    top: 40%;
    left: 27%;
}

.ser5{
    position: absolute;
    top: 40%;
    left: 59%;
}

.sq{
    background-color: #ffffff;
    width: 78%;
    display: flex;
    height: 40vh; 
    justify-content: flex-end;
    flex-direction: column; 
    position: absolute; 
    top: 70%;
    left: 22.2%;  
}

.titulo2{
    position: absolute;
    top: 0%;
    left: 38%;
    font-family: 'Montserrat';
    text-decoration-line:underline;
}

.texto2{
    font-size: 110%;
    position: absolute;
    top: 20%;
    left: 0%;
    justify-content: center;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Lato';
}

.ser2{
    position: absolute;
    top: 40%;
    left: 39%;
}

.ld{
    background-color: #ffffff;
    width: 78%;
    display: flex;
    height: 50vh; 
    justify-content: flex-end;
    flex-direction: column; 
    position: absolute; 
    top: 125%;
    left: 22.2%;  
}

.titulo3{
    position: absolute;
    top: 0%;
    left: 38%;
    font-family: 'Montserrat';
    text-decoration-line:underline;
}

.texto3{
    font-size: 110%;
    position: absolute;
    top: 20%;
    left: 0%;
    justify-content: center;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Lato';
}

.ser1{
    position: absolute;
    top: 54%;
    left: 39%;
}
.se{
    background-color: #ffffff;
    width: 78%;
    display: flex;
    height: 50vh; 
    justify-content: flex-end;
    flex-direction: column; 
    position: absolute; 
    top: 191%;
    left: 22.2%;  
}

.titulo4{
    position: absolute;
    top: 0%;
    left: 37%;
    font-family: 'Montserrat';
    text-decoration-line:underline;
}

.texto4{
    font-size: 110%;
    position: absolute;
    top: 20%;
    left: 0%;
    justify-content: center;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Lato';
}

.ser4{
    position: absolute;
    top: 54%;
    left: 40%;
}

.la{
    background-color: #ffffff;
    width: 78%;
    display: flex;
    height: 50vh; 
    justify-content: flex-end;
    flex-direction: column; 
    position: absolute; 
    top: 257%;
    left: 22.2%;  
}

.titulo5{
    position: absolute;
    top: 0%;
    left: 44%;
    font-family: 'Montserrat';
    text-decoration-line:underline;
}

.texto5{
    font-size: 110%;
    position: absolute;
    top: 20%;
    left: 0%;
    justify-content: center;
    text-align: center;
    color: rgb(119, 119, 119);
    font-family: 'Lato';
}

.ser6{
    position: absolute;
    top: 54%;
    left: 40%;
}